<div class="content">
  <app-new-shopping-list
    [shoppingListsCount]="shoppingLists.length"
    (newShoppingListCreated)="newShoppingListCreated($event)">
  </app-new-shopping-list>

  <div class="list">
    <ng-template ngFor let-shoppingList [ngForOf]="shoppingLists">
      <mat-card [routerLink]="shoppingList.id + '/items'">
        <mat-card-header>
          <mat-card-title> {{ shoppingList.name }} </mat-card-title>
        </mat-card-header>
      </mat-card>
    </ng-template>
  </div>
</div>