<div
  class="content"
  *ngIf="shoppingList">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3> {{ shoppingList.name }} </h3>

    <div *ngIf="auth.user$?.uid === shoppingList.owner">
      <button
        mat-icon-button
        (click)="openShareField()">
        <mat-icon>share</mat-icon>
      </button>
  
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field
    *ngIf="!sharing"
    class="form-field"
    appearance="outline"
    floatLabel="auto">
    <mat-label>New item</mat-label>

    <input
      matInput
      placeholder="New item description"
      [(ngModel)]="itemDescription"
      (keyup.enter)="newItem()">

    <button
      matSuffix
      mat-icon-button
      *ngIf="itemDescription"
      (click)="newItem()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field
    *ngIf="sharing"
    class="form-field"
    appearance="outline"
    floatLabel="auto">
    <mat-label>Add Gmail account to share</mat-label>

    <input
      matInput
      placeholder="Gmail account"
      [(ngModel)]="gmailAccountShare"
      (keyup.enter)="shareWith()">

    <button
      matSuffix
      mat-icon-button
      *ngIf="gmailAccountShare"
      (click)="shareWith()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-form-field>

  <mat-accordion multi hideToggle="true">
    <mat-expansion-panel *ngFor="let item of pendingItems | async">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center"> {{ item.description }}
        </mat-panel-title>
        <mat-panel-description>
          <div class="item-actions">
            <button
              matSuffix
              mat-icon-button
              (click)="markItemAsDone($event, item.id)">
              <mat-icon>done</mat-icon>
            </button>

            <button
              matSuffix
              mat-icon-button
              (click)="deleteItem($event, item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>

  <p *ngIf="((doneItems | async) ?? []).length > 0">Done Items</p>

  <mat-accordion multi hideToggle="true">
    <mat-expansion-panel *ngFor="let item of doneItems | async" disabled>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center"> {{ item.description }}
        </mat-panel-title>
        <mat-panel-description>
          <div class="item-actions">
            <button
              matSuffix
              mat-icon-button
              (click)="markItemAsPending($event, item.id)">
              <mat-icon>undo</mat-icon>
            </button>

            <button
              matSuffix
              mat-icon-button
              (click)="deleteItem($event, item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>