<mat-card
  fxLayout="row"
  fxLayoutAlign="space-evenly center">

  <div *ngIf="shoppingListsCount === 0; else listNotEmpty">
    <p>Your shopping lists will be displayed here.</p>
  
    <p>It looks like you don't have any lists yet.</p>
  
    <button
      mat-flat-button
      color="primary"
      i18n
      *ngIf="!createNew"
      (click)="createNewList()">
      CREATE YOUR FIRST
    </button>
  </div>

  <ng-template #listNotEmpty>
    <button
      mat-flat-button
      color="primary"
      i18n
      *ngIf="!createNew"
      (click)="createNewList()">
      CREATE NEW LIST
    </button>
  </ng-template>

  <app-form-new-shopping-list
    *ngIf="createNew"
    (newShoppingListCreated)="emitNewShoppingListCreated($event)">
  </app-form-new-shopping-list>
</mat-card>

<!--ng-template #cardsListTemplate>

  <button
    mat-flat-button
    color="primary"
    i18n
    *ngIf="!createNew"
    (click)="createNewList()">
    CREATE NEW LIST
  </button>

  <app-form-new-shopping-list
    *ngIf="createNew"
    (newShoppingListCreated)="emitNewShoppingListCreated($event)">
  </app-form-new-shopping-list>
</ng-template-->